/* Galería de inicio */
.title{
    text-align: center;
    margin-top: 5rem;
}
.main{
    display: grid;
    place-content: center;
}
.container-galery{
    display: flex;
    width: 900px;
    height: 450px;
    box-shadow: 2px 2px 10px rgb(68, 68, 68);
}
.image-item{
    width: 0; 
    flex-grow: 1; /* cada item que ocupe el espacio que pueda */
    object-fit: cover; /* que ocupe todo el espacio del contenedor */
    opacity: .8;
    transition: .5s ease; 
}
.image-item:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
